<ion-header>
  <ion-toolbar class="head">
    <ion-title>JOJO APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="body">

  <div class="seccionchilds">
    <div>
      <img src="../../assets/fondos/JoJosbizarre.png" alt="">
    </div>
    <ion-router-outlet></ion-router-outlet>
  </div>


  <ion-card>
    <ion-toolbar>
      <ion-segment value="inicio" (ionChange)="segmentChanged($event)">

        <ion-segment-button value="paginaintento">
          <small>Login</small>  
          <ion-icon name="log-in-sharp"></ion-icon>
        </ion-segment-button>

        <ion-segment-button value="registro">
          <small>Registro</small>
          <ion-icon name="accessibility-sharp"></ion-icon>
        </ion-segment-button>
        
      </ion-segment>
    </ion-toolbar>
  </ion-card>

</ion-content>


<!--
  <ion-card>
    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-item lines="full">
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="user.usuario" formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="user.password" formControlName="password"></ion-input>
        </ion-item>
      </form>
      <br>
      <ion-card-item class="botoneslogin">
        <ion-button (click)="ingresar()">Ingresar</ion-button>
      </ion-card-item>

      <ion-card-item class="botonregiinvit">
        <small>¿No tienes cuenta?</small>
    
        <ion-button [routerLink]="['/registro']">Registrate</ion-button>
   
        <small>Seguir como invitado</small>
        <ion-button [routerLink]="['/producto']">Invitado</ion-button>
      </ion-card-item>
    </ion-card-content>
  </ion-card>
-->

<!--  <ion-card class="botonescarta">

    <div class="botones1">
      <button class="inicio1">Ingresar</button>
      <button class="inicio2">Registro</button>
    </div>

    <div class="botones2">
      <button class="invitadoboton">Invitado</button>
    </div>
  </ion-card>
-->