.titulo{
  display: flex;
  justify-content: center;
}

.card{
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.boton{
  display: flex;
  justify-content: center;
}