<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Registro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioRegistro" (keyup.enter)="guardar()">
        <ion-item class="form" >
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="rialname" placeholder="Ingresa tu nombre"></ion-input>
        </ion-item>
        <ion-item class="form">
          <ion-label position="floating">Nombre de usuario</ion-label>
          <ion-input formControlName="nombre" placeholder="Ingresa tu usuario"></ion-input>
        </ion-item>
        <ion-item class="form">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password" placeholder="1 a 6 caracteres"></ion-input>
        </ion-item>
        <ion-item class="form">
          <ion-label position="floating">Confirmar contraseña</ion-label>
          <ion-input formControlName="confirmacionPassword" type="password"></ion-input>
        </ion-item>
        <br>
        <ion-button (click)="guardar()">Registrarse</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>

